body{
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: hsl(0, 0%, 91%);
}

#myH1{
    font-size: 3.8rem;
    font-family: Arial, Helvetica, sans-serif;
    color: hsla(0, 0%, 0%, 0.616);
}

#container{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 4px solid;
    border-radius: 50px;
    padding: 30px;
    background-color: white;
}

#display{
    font-size: 5rem;
    font-family: monospace;
    font-weight: bold;
    color: hsla(0, 0%, 0%, 0.650);
    text-shadow: 2px 2px 2px hsl(0, 0%, 0%, 0.75);
}

#controls button{
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
    margin: 5px;
    min-width: 125px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    transition: background-color 0.5s ease;
}

#startBtn{
    background-color: hsl(120, 100%, 35%);
    box-shadow: 2px 2px 2px hsla(0, 0%, 0%, 0.76);
}

#startBtn:hover{
    background-color: hsl(120, 100%, 30%);
}

#stopBtn{
    background-color: hsl(0, 100%, 50%);
    box-shadow: 2px 2px 2px hsla(0, 0%, 0%, 0.76);
}

#stopBtn:hover{
    background-color: hsl(0, 100%, 40%);
}

#resetBtn{
    background-color: hsl(250, 100%, 50%);
    box-shadow: 2px 2px 2px hsla(0, 0%, 0%, 0.76);
}
#resetBtn:hover{
    background-color: hsl(250, 100%, 40%);
}

#backButton {
    position: absolute;
    top: 5px;
    left: 5px;
}

#backButton button {
    font-size: 3rem;
    background: none;
    border: none;
    cursor: pointer;
    color: hsla(0, 0%, 0%, 0.7);
}

#backButton button:hover {
    color: black;
}


/* Reszponzív stílus telefonokhoz */
@media (max-width: 768px) {
    #myH1 {
        font-size: 2.5rem;
    }

    #container {
        width: 100%;
        padding: 20px;
        border-radius: 20px;
    }

    #display {
        font-size: 3rem;
    }

    #controls button {
        font-size: 1rem;
        padding: 8px 15px;
        min-width: 100px;
    }

    #backButton button {
        font-size: 2rem;
    }
}

@media (max-width: 480px) {
    #myH1 {
        font-size: 2rem;
    }

    #display {
        font-size: 2.5rem;
    }

    #controls button {
        font-size: 0.8rem;
        padding: 5px 10px;
        min-width: 80px;
    }

    #backButton button {
        font-size: 1.5rem;
    }
}