body{
    background-image: url(baja.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
}

#clock-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#clock{
    font-family: monospace;
    font-size: 6rem;
    font-weight: bold;
    text-align: center;
    color: white;
    backdrop-filter: blur(3px);
    background-color: hsla(0, 0%, 100%, 0.2);
    width: 100%;
}

#stopWatch{
    font-size: 5rem;
    color: rgb(50, 167, 50);
}

#stopWatch:link {
    color: rgb(50, 167, 50);
  }
  
#stopWatch:visited {
    color: rgb(50, 167, 50);
  }
  
#stopWatch:hover {
    color: rgb(50, 167, 50);
  }
  
#stopWatch:active {
    color: rgb(50, 167, 50);
  }

/* Reszponzív stílus telefonokhoz */
@media (max-width: 768px) {
  body {
      background-size: contain;
  }

  #clock {
      font-size: 3rem;
  }

  #stopWatch {
      font-size: 2.5rem;
  }

  #clock-container {
      height: auto;
      padding: 20px;
  }
}